.loading-overlay {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 20%;
}

.loading-overlay img {
  width: 100px;
}

.chat_gpt_vonfiguration{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display:none;
}

.main_form{
  display: flex;
}

#sidebar{
  width:30%;
  margin-right:2%;
}

#sidebar  h2{
  text-align: center !important;
  font-size: 24px;
}
.input_clean,.input_dark,.author_input,.category_input,.schedule_input{
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}

.lumini_items{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dark_light_radio{
  display: flex;
  padding-left: 5%;
  gap: 5%;
}

.radio-btn,.radio_schedule{
  width: 20px;
  height: 20px;
  border:1px solid #a5a6ab;
  border-radius: 50%;

}


.dark{
  background: #353541 !important;
  color: #fff !important;
}

.dark h2{
  color: #fff;
}

.sidebar-dark{
  background:#202123 !important;
  border-color:#202123 !important;
}

input[type="checkbox"]:checked + label .radio-btn,.schedule_input:checked+label .radio_schedule{
  background: radial-gradient(circle,#CE73F4 45%,transparent 50%);

}

#chatgpt_model{
  display:flex;
  justify-content:center;
  gap:3%;
  border:1px solid #ddd;
  background:#ddd;
  width:20%;
  align-items:center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px
}

.gpt_input{
  display:none !important;
}

.gpt_label_model{
  width:50%;
  text-align:center;
  margin-top:2%;
  margin-bottom:2%;
  display:flex;
}

.gpt_label_model p{
  padding-left:15%;
}

.gpt_label_model svg{
  padding-top: 13%;
  padding-left: 13%
}


.gpt_input:checked+label{
  background:#3f414e;
  color:#fff;
  border-radius:12px;
}
.gpt_switch_icon_ray{}

.gpt_switch_icon_ray path{
  fill:#19c37d !important;
}

.gpt_switch_icon_stars path{
  fill:#ab68ff;
}

.authors,.category{
  position: relative;
  cursor:pointer;
}

.sidebar_item{
  margin-bottom:30px;
}

.authors p strong::after,.category p strong::after{
  content: '';
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
    
  border-bottom: 9px solid black;
  position: absolute;
  top: 7px;
  transform: rotateX(180deg);
  margin-left: 1%
}

.arrow_white p strong::after{
  border-bottom-color:#fff !important;
}

.authors_item,.category_item{
  background: #ddd;
  color:#000 !important;
  width: 50%;
  display: none;
  transition: .9s !important;
  margin-left: 5%;
}

.authors_input_label{
 display:inline-block;
 width:100%;  
}
.show{
  display: block;
  
}

.author_input:checked+label,.category_input:checked+label{
  background:#ccc !important;
}

#chatgpt_prompt{
 text-align:center;
 padding-top:5%;
}

#chatgpt_prompt::placeholder{
  font-size:25px;
}
.chatgpt_keys::placeholder{
  font-size:20px;
}

.chatgpt_keys,#chatgpt_prompt{
  background:#dae9ee;
  height:40vh;
  resize:none;
}

 .inputs_title{
  margin:0;
  width:50%;
}



.generate_text_button{
  display:flex;
  justify-content:center;
}

.btn_submit_text{
  background:#C371ED !important;
  border:none !important;
  text-transform:uppercase !important;
  width:20%;
  border-radius:30px !important;
  padding-top: 1% !important;
  padding-bottom: 1% !important;
}

#schedule_datetime_container{
  display:none;
}

